.history/

# Python
__pycache__/
*.pyc
*.pyo


# Envs & tools
.venv/
.mypy_cache/
.pytest_cache/
.ipynb_checkpoints/
*.egg-info/

# Data & artifacts
data/aisdk/
data/ais_data/
data/interim/
data/processed/
outputs/
logs/
checkpoints/
*.pt
*.pth
*.parquet

# Editors/OS
.DS_Store


# Plots
plots/

